@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

::before,
::after,
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    color: var(--text-color);
}

:root {
    --nav-color: #24221F;
    --bg-color:#363F45 ;
    --box-color: #4A565E;
    --green-color: #94BFA7;
    --text-color: #FFFFFF;
}

body {
    background: var(--bg-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;

    background: var(--nav-color);
}

header .logo a {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    transition: all ease 0.5s;
}

header .logo:hover a {
    cursor: pointer;
    color: var(--green-color);
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li a {
    display: block;
    padding: 32px 20px;
    transition: all ease 1s;
}

nav ul li:hover a {
    background: var(--green-color);
}

nav ul li.active a {
    background: var(--green-color);
}

header button {
    border: solid 0px;
    border-radius: 10px;
    color: var(--nav-color);
    background: var(--green-color);
    padding: 10px;
    transition: all ease 0.5s;
}

header button:hover {
    cursor: pointer;
    box-shadow: 0 0 40px 0 var(--green-color);
}


header button a {
    color: #000000;
}

.mieux-notees {
    display: flex;
    flex-direction: column;
}

.mieux-notees .description {
    padding: 60px 200px;
    align-items: center;
    background-color: var(--box-color);
}

.mieux-notees .description strong {
    color: var(--green-color);
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 20px;
}

.mieux-notees .series {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 50px 50px; 
    margin: 100px;
}

.mieux-notees .series img {
    object-fit: cover;
    width: 392px;
    height: 588px;
    transition: all ease 0.8s;
}

.mieux-notees .series .container {
    position: relative;
    cursor: pointer;
}

.container .image {
    display: block;
    width: 100%;
    height: auto;
}

.container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--bg-color);
}

.container:hover .overlay {
    opacity: 0.9;
}

.container .overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

